<section class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div (click)="partSelector(1)"
                    class="col-lg-6 mt-2 mb-2" style="direction: rtl;" >
                <div class="card text-white card-has-bg click-col"
                    style="background-image:url('../../assets/bg/classroom.jpg'); text-align: right;" >
                    <img class="card-img d-none" src="../../assets/bg/classroom.jpg"
                        alt="کلاس آنلاین و آفلاین">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body main-font">
                            <small class="card-meta mb-2">فاز 1</small>
                            <h4 class="card-title mt-0 ">
                                <a class="text-white" herf="#">
                                بخش مربوط به دوره‌ها
                                </a>
                            </h4>
                            <small><i class="far fa-clock"></i>انتخاب میان هزاران دوره رایگان</small>
                        </div>
                    </div>
                </div>
            </div>


            <div (click)="partSelector(2)"
                    class="col-lg-6 mt-2 mb-2" style="direction: rtl;" >
                <div class="card text-white card-has-bg click-col"
                    style="background-image:url('../../assets/bg/students-vertical.jpg'); text-align: right;" >
                    <img class="card-img d-none" src="../../assets/bg/students-vertical.jpg"
                        alt="کلاس آنلاین و آفلاین">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body main-font">
                            <small class="card-meta mb-2">فاز 2</small>
                            <h4 class="card-title mt-0 ">
                                <a class="text-white" herf="#">
                                بخش یافتن راهنما
                                </a>
                            </h4>
                            <small><i class="far fa-clock"></i>بهترین پاسخ‌دهنده به سوالت را پیدا کن</small>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>