<div class="container">
  <section class="pt-3 pb-2" style="text-align: left; direction: rtl;" *ngIf="this.pageTitle!=''">
    <div class="card mb-12" style="padding: 0 !important;">
        <div class="row g-0">
            <div class="col-md-12" style="text-align: center; direction: rtl;">
                <div class="card-body p-3" style="text-align: center; direction: rtl;">
                  <h5 class="card-title main-font p-2" style="font-size:30px; text-align: center; direction: rtl;">{{this.pageTitle}}</h5>
                  <p class="card-text main-font p-2" style="text-align: center;">
                    {{this.pageDescription}}
                  </p>
                </div>
            </div>
        </div>
    </div>
  </section>
    <div class="row mt-3">
        <div class="col-md-12 main-font">
            <mat-accordion>
                <mat-expansion-panel *ngIf="slidesSection.length>0">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="main-font">
                      اسلایدها و جزوه‌ها
                    </mat-panel-title>
                    <mat-panel-description class="main-font">
                      فایل‌های متنی 
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  
                  <mat-list style="text-align: right;"> 
                    <p class="main-font">برای دانلود یا مشاهده فایل روی نام آن کلیک کنید</p>
                    
                    <mat-list-item *ngFor="let slide of slidesSection" style="text-align: right; direction: rtl;">
                        <a href="{{slide.link}}" class="main-font"> 
                            <span class="material-icons">
                                description
                            </span>      
                        </a>
                        <a href="{{slide.link}}" mat-line class="main-font"> {{slide.title}} </a>
                        <div mat-line class="main-font">{{slide.date}}</div>
                        
                    </mat-list-item>
                  </mat-list>


                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false"
                                     *ngIf="videoSection.length>0">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="main-font">
                      ویدئوهای آموزشی
                    </mat-panel-title>
                    <mat-panel-description class="main-font">
                       ویدئو جلسه
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-list style="text-align: right;"> 
                    <p class="main-font">برای دانلود یا مشاهده ویدئو روی نام آن کلیک کنید</p>
                    
                    <mat-list-item *ngFor="let slide of videoSection" style="text-align: right; direction: rtl;">
                        <a href="{{slide.link}}" class="main-font"> 
                            <span class="material-icons">
                                video_library
                            </span>      
                        </a>
                        <a href="{{slide.link}}" mat-line class="main-font"> {{slide.title}} </a>
                        <div mat-line class="main-font">{{slide.date}}</div>
                        
                    </mat-list-item>
                  </mat-list>

                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false"
                                     *ngIf="otherSection.length>0">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="main-font">
                      سایر فایل‌ها
                    </mat-panel-title>
                    <mat-panel-description class="main-font">
                        سایر لینک‌های جلسه
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-list style="text-align: right;"> 
                    <p class="main-font">برای دانلود یا مشاهده ویدئو روی نام آن کلیک کنید</p>
                    
                    <mat-list-item *ngFor="let slide of otherSection" style="text-align: right; direction: rtl;">
                        <a href="{{slide.link}}" class="main-font"> 
                            <span class="material-icons">
                                file_download
                            </span>      
                        </a>
                        <a href="{{slide.link}}" mat-line class="main-font"> {{slide.title}} </a>
                        <div mat-line class="main-font">{{slide.date}}</div>
                        
                    </mat-list-item>
                  </mat-list>


                </mat-expansion-panel>
              </mat-accordion>
        </div>
    </div>
    <div class="row mt-3" *ngIf="votingPanelDisplay==true">
      <div class="col-md-12 main-font">
        <mat-card class="main-font mt-2 p-3" 
                  style="direction: rtl; text-align: center; font-weight: bold;">
                  <br/>
                  با انتخاب یکی از دو گزینه زیر ما را در بهتر کردن مطالب یاری کنید.
        
          <section class="page-contain">
            <a class="data-card" (click)="votingClicked(this.selectedQuestionsId[0])">
              <h4>{{this.selectedQuestions[0]}}</h4>
            </a>
            <a class="data-card" (click)="votingClicked(this.selectedQuestionsId[1])">
              <h4>{{this.selectedQuestions[1]}}</h4>
            </a>
          </section>
          <a style="cursor: pointer;" (click)="votingClicked('-1')">
            <h6>هیچ کدام</h6>
          </a>
        
        </mat-card>
      </div>
      <div class="col-md-12 main-font">
        
      </div>
      
    </div>
</div>