<mat-toolbar color="accent" style="background-color: #234f6d !important;"> 
  <span class="main-font mat-toolbar-text-color" [routerLink]="['/Main']" routerLinkActive="router-link-active">صفحه اصلی</span>
  <span class="toolbar-spacer"></span>
  <span class="main-font mat-toolbar-text-color" style="float:left;" routerLinkActive="router-link-active">
    <a class="mat-toolbar-text-color" href="https://statistics-website.herokuapp.com/panel/" style="text-decoration: none;">
      ورود استاد
    </a>  
  </span>
</mat-toolbar>


<router-outlet></router-outlet>
