@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// some basic resets 
$main-font: IRANSans;
$second-font: IRANSansDn;
$main-color: rgb(35,79,109);
$second-color : #AC3B61;
$bg-color: #eeeeee;

body { 
  background-color: $bg-color !important;
  padding: 0; 
  margin: 0; 
  font-family: $main-font, Roboto, sans-serif;   
}

.main-font{
    font-family: $main-font, Roboto, sans-serif;   
}
.second-font{
    font-family: $second-font, $main-font, Roboto, sans-serif;   
}
button{
  background-color: $main-color !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';





.mat-form-field-wrapper{
  padding-bottom: 0px !important;
}

.mat-step-header .mat-step-icon-selected, 
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit{
    background-color: rgb(35,79,109) !important;
}