<!--<div class="container mt-3 pt-2" style="background-color: red; height: 50px; text-align: center;">
    <p class="main-font" style="color: white; font-size: larger;">
        کلاس مورد نظرتان را انتخاب کنید.
    </p>
</div>-->


<section class="wrapper">
    <div class="container">
        <div class="row">
            <div    *ngFor="let item of homeCourses" (click)="courseClick(item.id)"
                    class="col-lg-4 mt-2 mb-2" style="direction: rtl;" >
                <div class="card text-white card-has-bg click-col"
                    style="background-image:url('../../assets/bg/classroom.jpg'); text-align: right;" >
                    <img class="card-img d-none" src="../../assets/bg/classroom.jpg"
                        alt="کلاس آنلاین و آفلاین">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <small class="card-meta mb-2">{{item.title}}</small>
                            <h4 class="card-title mt-0 ">
                                <a class="text-white" herf="#">
                                {{item.description}}
                                </a>
                            </h4>
                            <small><i class="far fa-clock"></i>{{item.lastPublished}}</small>
                        </div>
                        <div class="card-footer">
                            <div class="media">
                                <div class="media-body">
                                    <h6 class="my-0 text-white d-block">{{item.instructor}}</h6>
                                    <small>دانشیار امیرکبیر</small>
                                </div>
                                <img class="mr-3 rounded-circle"
                                    src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png"
                                    alt="Generic placeholder image" style="max-width:50px">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>